button{
	border: none;
	height: 40px;
	line-height: 40px;
	padding: 0 40px;
	border-radius: 20px;
	background-color: $action-light;
}
button.action-button{
	background-color: $accent-primary;
}
.overview-pannel button{
	background-color: $action-dark;
}