$sprite-sheet: "../images/spritemap.png";
.icon{
	background-image: url($sprite-sheet);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	&.home{
		width: 100px;
		height: 100px;
		background-position-x: -83px;
	}
	&.briefcase{
		width: 100px;
		height: 100px;
		background-position-x: 13px;
	}
	&.briefcase-small{
		background-position-x: -197px;
		background-position-y: -23px;
		position: absolute;
		right: 0;
		top: -68px;
	}
	&.Application{
		background-position-x: 10px;
		background-position-y: -125px;
	}
	&.Work_approval{
		background-position-x: -88px;
		background-position-y: -125px;
	}
	&.In_progress{
		background-position-x: -190px;
		background-position-y: -125px;
	}
	&.Final_approval{
		background-position-x: -290px;
		background-position-y: -125px;
	}

}
.icon-label{
	left: 125px;
	position: absolute;
	right: 25px;
}

.status-icon{
	border-radius: 50px;
	border: solid 1px;
	z-index: 1;
	position: relative;
	margin: 5px 0;
	background-color: rgb(122,114,118);
}
.status-icon-connector{
	position: absolute;
	width: 100%;
	top: 25px;
	left: -70%;
	z-index: 0;
	margin: 5px 0;
	border-top: solid 1px;
}
.status-icon-connector.status-active{
	border-top: solid 1px $accent-primary;
}
.status-icon-connector.status-completed{
	border-top: solid 1px $accent-secondary;
}
.status-icon.status-active{
	background-color: $accent-primary;
	border: solid 1px $accent-primary;
}
.status-icon.status-active:before{
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	left: -6px;
	top: -6px;
	border: solid 1px $accent-primary;
}
.status-icon.status-completed{
	background-color: $accent-secondary;
	border: solid 1px $accent-secondary;
}