.step-previous .step-previous-hide{
	display: none;
}
.step-previous .step-previous-show{
	display: block;
}
.step-previous-show{
	display: none;
}

.step-forthcoming{
	opacity: 0.5;
}
.step-forthcoming .step-forthcoming-hide{
	display: none;
}
.step-forthcoming .step-forthcoming-show{
	display: block;
}
.step-forthcoming-show{
	display: none;
}

.item-selected{
	font-weight: bold;
}