.step-previous .step-previous-hide{
	display: none;
}
.step-previous .step-previous-show{
	display: block;
}
.step-previous-show{
	display: none;
}

.step-forthcoming{
	opacity: 0.5;
}
.step-forthcoming .step-forthcoming-hide{
	display: none;
}
.step-forthcoming .step-forthcoming-show{
	display: block;
}
.step-forthcoming-show{
	display: none;
}

.list-item{
	line-height: 50px;
	height: 50px;
	padding-left: 55px;
	position: relative;
}
.list-item:after{
	content: "";
	position: absolute;
	left: 5px;
	top: 10px;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	border: solid 1px;
}
.item-selected.list-item:after{
	background-color: white;
}

.item-selected{
	font-weight: bold;
}

.input-title{
	h2{
		line-height: 80px;
	}
}

.input-step{
	background-color: $primary;
	margin-bottom: 2px;
	transition: ease-out all 0.5s;
	padding-bottom: 20px;
}
.step-forthcoming .input-step{
	background-color: $secondary;
}
.step-previous .input-step{
	background-color: $tertiary;
}

.input-step-title{
	width: 100%;
	.number{
		margin-right: 15px;
	}
	.number, .title-text{
		line-height: 50px;
	}
}