.step-previous .step-previous-hide{
	display: none;
}
.step-previous .step-previous-show{
	display: block;
}
.step-previous-show{
	display: none;
}

.step-forthcoming{
	opacity: 0.5;
}
.step-forthcoming .step-forthcoming-hide{
	display: none;
}
.step-forthcoming .step-forthcoming-show{
	display: block;
}
.step-forthcoming-show{
	display: none;
}

.item-selected{
	font-weight: bold;
}

.input-title{
	h2{
		line-height: 80px;
	}
}

.input-step{
	background-color: $primary;
	margin-bottom: 2px;
	transition: ease-out all 0.5s;
}
.step-forthcoming .input-step{
	background-color: $secondary;
}
.step-previous .input-step{
	background-color: $tertiary;
}

.input-step-title{
	width: 100%;
	.number{
		margin-right: 15px;
	}
	.number, .title-text{
		line-height: 50px;
	}
}