.permit-action{
	text-decoration: underline;
}

.permit-status-current{
	font-weight: bold;
}

.permit-status-completed{
	opacity: 0.75;
}

.permit-action-completed{
	font-style: italic;
	opacity: 0.75;
}