$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/****************************************************
 * COLOR VARIABLES
 ****************************************************/

$primary:          rgba(255,255,255,0.2);;
$secondary:        rgba(0,0,0,0.2);
$tertiary:         rgba(0,0,0,0.4);

$menu:			   rgba(33,45,57,0.9);

$accent-primary:   #ef6f4a;
$accent-secondary: #ef967c;

$action-dark:      #19212b;
$action-light:     rgba(255,255,255,0.36);

$font-default:     #f1f1f2;

/****************************************************
 * OTHER VARIABLES
 ****************************************************/

$background-image:"/images/bg.jpg";
$background-image_blurred:"/images/bgBlurred.jpg";

/****************************************************
 * MAIN STYLES
 ****************************************************/
*{
    box-sizing: border-box;
    color: $font-default;
}

[ng-click]{
	cursor: pointer;
}

body{
}

.background-image-container{
	z-index: 0;
}

.background-image{
	background-image: url($background-image);
	background-size: cover;
}

.blurred-image{
	-webkit-filter: blur(7px) grayscale(0.6);
	transition: ease-out 0.6s all;
}

.hide-blurred .blurred-image{
	opacity: 0;
}

.content{
	z-index: 1;
}

.full-page{
	position: absolute;
	height: 100%;
	width: 100%;
}

.full-page_fixed{
	position: fixed;
	left: -50px;
	right: -50px;
	top: -50px;
	bottom: -50px;
}

.overview-pannel{
	position: relative;
	height: 100%;
	background-color: $menu;
}

.main-content{
	position: relative;
	height: 100%;
}

@import "buttons.scss";
@import "inputscreen.scss";