$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

*{
    box-sizing: border-box;
}

.full-page{
	position: absolute;
	height: 100%;
	width: 100%;
}

.overview-pannel{
	position: relative;
	height: 100%;
	border: solid;
}

.main-content{
	position: relative;
	height: 100%;
	border: solid;
}

@import "buttons.scss";