<div class="row" ng-class="{'step-previous': currentStep > step.id, 'step-forthcoming': currentStep < step.id}" ng-repeat="step in steps">
	<h1 ng-click="setStep(step.id)">{{step.display}}</h1>

	<!-- SHOWN on STEP-PREVIOUS -->
	<h3 class="step-previous-show">{{step.output + selection[step.type][0]}}</h3>

	<!-- HIDDEN on STEP-PREVIOUS -->
	<h3 class="step-previous-hide">{{step.name}}</h3>

	<!-- HIDDEN on STEP-PREVIOUS and STEP-FORTHCOMING -->
	<ng-include class="step-previous-hide step-forthcoming-hide" src="step.form"></ng-include>
	<div class="col-xs-12 step-previous-hide step-forthcoming-hide">
		<button ng-click="nextStep()" ng-show="allowNextStep(step.type)">continue</button>
	</div>

</div>
