<div class="col-xs-12" ng-show="getUsername().length > 0">
	{{getUsername()}}
</div>
<!-- show if SAVED -->
<div class="col-xs-12" ng-hide="!project.saved">
	{{project.name}}
</div>
<!-- show if NOT SAVED -->
<div class="col-xs-12" ng-show="!project.saved" ng-init="editName = false">
	<h3 ng-hide="editName" ng-click="editName = true">{{project.name}}</h3>
	<input ng-show="editName" type="text" ng-model="project.name">
</div>
<div class="col-xs-12" ng-show="!project.saved">
	<button>Save Project</button>
</div>

<!-- COSTS -->
<div class="col-xs-12">Max Total Cost</div>
<div class="col-xs-12" ng-hide="projectDetails.cost == 0">${{projectDetails.cost | number:0}}</div>
<div class="col-xs-12" ng-show="projectDetails.cost == 0">$ -</div>

<!-- COMPLETION DATES -->
<div class="col-xs-12">Estimated Completion</div>
<div class="col-xs-12" ng-hide="projectDetails.minDuration == 0 || projectDetails.maxDuration == 0">
	{{projectDetails.minDuration | daysOut}} - {{projectDetails.maxDuration | daysOut}}
</div>
<div class="col-xs-12" ng-show="projectDetails.minDuration == 0 || projectDetails.maxDuration == 0">
	unknown
</div>

<div ng-show = "secondProject.id !== undefined">
	<div>
		OtherProjects
	</div>
	<div ng-click="setSecondProject()"> {{secondProject.name}} </div>
</div>
<!-- USER MGMT -->
<div class="col-xs-12" ng-show="getUsername().length == 0" ng-click="logIn()">
	Sign In
</div>
<div class="col-xs-12" ng-show="getUsername().length > 0" ng-click="logOut()">
	Log Out
</div>