<div class="col-xs-12">{{project.name}}</div>
<div class="col-xs-12" ng-show="!project.saved">
	<button>Save Project</button>
</div>

<div class="col-xs-12">Max Total Cost</div>
<div class="col-xs-12" ng-hide="projectDetails.cost == 0">${{projectDetails.cost | number:0}}</div>
<div class="col-xs-12" ng-show="projectDetails.cost == 0">$ -</div>

<div class="col-xs-12">Estimated Completion</div>
<div class="col-xs-12" ng-hide="projectDetails.minDuration == 0 || projectDetails.maxDuration == 0">
	{{projectDetails.minDuration | daysOut}} - {{projectDetails.maxDuration | daysOut}}
</div>
<div class="col-xs-12" ng-show="projectDetails.minDuration == 0 || projectDetails.maxDuration == 0">
	unknown
</div>
