<div class="col-xs-12" ng-show="getUsername().length > 0">
	<h2>{{getUsername()}}</h2>
</div>
<!-- show if SAVED -->
<div class="col-xs-12" ng-hide="!project.saved">
	<h2>{{project.name}}</h2>
</div>
<!-- show if NOT SAVED -->
<div class="col-xs-12" ng-show="!project.saved" ng-init="editName = false">
	<h3 ng-hide="editName" ng-click="editName = true">{{project.name}}</h3>
	<input ng-show="editName" type="text" ng-model="project.name">
</div>
<div class="col-xs-12" ng-show="!project.saved">
	<button> Save Project </button>
</div>

<!-- COSTS -->
<div class="col-xs-12">
	<h4 class="col-xs-1">
	<h4 class="col-xs-11">Total Cost</h4>
</div>

<div class="col-xs-12" ng-hide="projectDetails.cost == 0">
	<h4 class="col-xs-1">
	<h4 class="col-xs-11">${{projectDetails.cost | number:0}}</h4>
</div>

<div class="col-xs-12" ng-show="projectDetails.cost == 0">
	<h4 class="col-xs-1">
	<h4 class="col-xs-11">$ -</h4>
</div>


<!-- COMPLETION DATES -->
<div class="col-xs-12">
	<h4 class="col-xs-1">
	<h4 class="col-xs-11">Estimated Time</h4>
</div>
<div class="col-xs-12" ng-hide="projectDetails.minDuration == 0 || projectDetails.maxDuration == 0">
	<h4 class="col-xs-1">
	<h4 class="col-xs-11">{{projectDetails.minDuration | daysOut}} - {{projectDetails.maxDuration | daysOut}}</h4>
</div>
<div class="col-xs-12" ng-show="projectDetails.minDuration == 0 || projectDetails.maxDuration == 0">
	<h4 class="col-xs-1">
	<h4 class="col-xs-11">unknown</h4>
</div>

<div class="selectable col-xs-12" ng-show = "secondProject.id !== undefined">
	<div ng-click="setSecondProject()"> 
		<h2>{{secondProject.name}}<h2>
	</div>
</div>
<!-- USER MGMT -->
<div class="selectable col-xs-12" ng-show="getUsername().length == 0" ng-click="logIn()">
	<h3>Sign In</h3>
</div>
<div class="selectable col-xs-12" ng-show="getUsername().length > 0" ng-click="logOut()">
	<h3>Log Out</h3>
</div>